#payment_bitcoin {
    width: 100px;
    background-color: #f7931a;
    padding: 5px;
    color: #fff;
}

#payment_bitcoin h4 {
    font-weight: bold;
}

#payment_bitcoin h4 span {
    padding: 5px;
}
